@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply container mx-auto py-5;
  }

  .page-title {
    @apply text-3xl font-bold;
  }
}

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
